@model CiscaLab.Models.Metodo

<h2>Nuevo Método</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="NombreMetodo" class="form-label"></label>
        <input asp-for="NombreMetodo" class="form-control" />
        <span asp-validation-for="NombreMetodo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>